## Write a program to develop a decision tree classifier based on weather
## forecasting dataset.

In [12]:
import numpy as np
import pandas as pd
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier as DecisionTree
from sklearn.model_selection import train_test_split

In [13]:
dataset = pd.read_csv('weather_forecast.csv')
dataset

     Outlook Temperature Humidity   Windy Play
0      Sunny         Hot     High    Weak   No
1      Sunny         Hot     High  Strong   No
2   Overcast         Hot     High    Weak  Yes
3       Rain        Mild     High    Weak  Yes
4       Rain        Cool   Normal    Weak  Yes
5       Rain        Cool   Normal  Strong   No
6   Overcast        Cool   Normal  Strong  Yes
7      Sunny        Mild     High    Weak   No
8      Sunny        Cool   Normal    Weak  Yes
9       Rain        Mild   Normal    Weak  Yes
10     Sunny        Mild   Normal  Strong  Yes
11  Overcast        Mild     High  Strong  Yes
12  Overcast         Hot   Normal    Weak  Yes
13      Rain        Mild     High  Strong   No

In [14]:
desired_rows= 1500
dataset = pd.concat([dataset] * (desired_rows//len(dataset)), ignore_index=True)
dataset.shape

(1498, 5)

In [15]:
# Convert to numerical format
for col in dataset.columns:
    dataset[col] = dataset[col].map({x : (i+1) for i, x in enumerate(dataset[col].unique()) })
dataset.head()

   Outlook  Temperature  Humidity  Windy  Play
0        1            1         1      1     1
1        1            1         1      2     1
2        2            1         1      1     2
3        3            2         1      1     2
4        3            3         2      1     2

In [16]:
X = dataset.drop('Play', axis=1).values
y = dataset['Play'].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=50)

model = DecisionTree(max_depth=3)
model.fit(X_train, y_train)
print(tree.export_text(model, max_depth=3, feature_names=list(dataset.columns[:-1]), class_names=['No', 'Yes']))
print("Accuracy: ", model.score(X_test, y_test))

|--- Humidity <= 1.50
|   |--- Outlook <= 1.50
|   |   |--- class: No
|   |--- Outlook >  1.50
|   |   |--- Windy <= 1.50
|   |   |   |--- class: Yes
|   |   |--- Windy >  1.50
|   |   |   |--- class: No
|--- Humidity >  1.50
|   |--- Outlook <= 2.50
|   |   |--- class: Yes
|   |--- Outlook >  2.50
|   |   |--- Windy <= 1.50
|   |   |   |--- class: Yes
|   |   |--- Windy >  1.50
|   |   |   |--- class: No

Accuracy:  0.93